In [40]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [41]:
df = pd.read_csv("Indicadores20221007105052.csv")
df.rename(columns={"Periodo": "period", "Valor": "value"}, inplace=True)
df

      period       value
0    1993/01   60.407691
1    1993/02   61.022521
2    1993/03   63.943249
3    1993/04   61.865984
4    1993/05   63.612900
..       ...         ...
350  2022/03  111.940152
351  2022/04  109.529866
352  2022/05  114.442424
353  2022/06  112.797501
354  2022/07  111.274552

[355 rows x 2 columns]

In [42]:
df["shift_value"] = df["value"].shift(12)
df["log_value"] = np.log(df["value"])
df["shift_log_value"] = np.log(df["shift_value"])
df["annual_change"] = df["log_value"] - df["shift_log_value"]
df.drop(df.index[0:12], inplace=True) #values with nan's
df

,period,value,shift_value,log_value,shift_log_value,annual_change
12,1994/01,63.029268,60.407691,4.143599,4.101116,0.042483
13,1994/02,62.733156,61.022521,4.138890,4.111243,0.027647
14,1994/03,65.790275,63.943249,4.186472,4.157996,0.028476
15,1994/04,65.891716,61.865984,4.188013,4.124970,0.063042
16,1994/05,66.858802,63.612900,4.202583,4.152816,0.049767
...,...,...,...,...,...,...
350,2022/03,111.940152,111.531140,4.717964,4.714304,0.003661
351,2022/04,109.529866,108.070442,4.696197,4.682783,0.013414
352,2022/05,114.442424,112.064049,4.740072,4.719071,0.021001
353,2022/06,112.797501,111.171275,4.725594,4.711072,0.014522
354,2022/07,111.274552,109.877851,4.712001,4.699369,0.012631

Realizar pruebas estadísticas de estacionariedad y decide el tipo de transformación de la variable

In [ ]:
adfuller(df["value"])

In [43]:
adfuller(df["annual_change"])

(-3.767291622294237,
 0.0032602635598127376,
 17,
 325,
 {'1%': -3.450632157720528,
  '5%': -2.870474482366864,
  '10%': -2.5715301325443787},
 -1446.8289417719393)